ROUTER_PORT=8080
POSTGRES_DSN=postgres://autoapi:changeme_local@localhost:5432/autoapi?sslmode=disable
REDIS_ADDR=localhost:6379
REDIS_PASSWORD=
VAULT_MASTER_KEY=changeme_32_byte_hex_key_here_0000
ACCOUNT_VAULT_URL=http://account-vault:3002
